h4 {
  background: #8888bb;
}
h4:hover {
  background: #50508d;
}
.taillephoto {
  position: absolute;
  top: 5px;
  left: 5px;
  height: 200px ;
  width: 200px;
  float: left;
}
#titre {
  position: absolute;
  top: 5px;
  left: 400px;
  text-align: center;
}
header {
  margin-bottom: 300px;
}
#maphoto {
  position: absolute;
  top: 5px;
  left: 5px;
  height: 200px ;
  width: 200px;
  float: left;
  -webkit-transition: border-radius 10s ease;
  -moz-transition: border-radius 10s ease;
  -ms-transition: border-radius 10s ease;
  -o-transition: border-radius 10s ease;
  transition: border-radius 10s ease;
}
#maphoto:hover {
  position: absolute;
  top: 5px;
  left: 5px;
  height: 200px ;
  width: 200px;
  float: left;
  border-radius: 10px;
  box-shadow: 1px  1px 12px #555;
}
.section-right {
  display: block;
}
#presentation {
  display: inline-block;
}
#wrapper {
  width: 900px ;
  margin: auto;
}
.right {
  float: right;
}
